<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaze.tribe.music">

    <application>

        <activity
            android:name=".MusicDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PlayingQueueActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".service.MusicService" />

    </application>


</manifest>
